@layout('layouts.main')

@section('title')
TV Show - Lista 
@endsection

@section('content')
  <h1>All TV Shows</h1>
    
    @each(tv in tvshows)
        <h5> hola </h5>
        <div class="job-container">
            <div class="blank">{{ tv.titulo }}</div>
            <div class="job-info">
                <p>{{ tv.titulo }}</p>
                <p>{{ tv.year }}</p>
                <a href="tvshow/edit/{{ tv.id }}">Editar</a>
            </div>
        </div>
    @endeach

@endsection